@import url('./colors.less');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech+Mono&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

body{
  background: url(https://images.unsplash.com/photo-1603811594813-63f576d92fd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1679&q=80) no-repeat center center;
  background-size: cover;
  color: @white;
  font-family: 'Montserrat', sans-serif;
}

//

.photo-sec{
  h1{
    text-align: center;
    margin: 20px auto;
  }
  .photo-single{
    width: 50vw;
    margin: 0px auto 80px auto;
    &.inactive{
      display: none;
    }
    .single-photo{
      width: 100%;
      height: auto;
      display: block;
      border: 1px solid @white;
      margin-bottom: 20px;
    }
    h2{
      font-size: 2rem;
      text-align: center;
      margin-bottom: 10px;
    }
    p.date{
      text-align: center;
      font-weight: bold;
    }
    p{
      font-size: 14px;
      line-height: 26px;
    }
    .go-back{
      display: block;
      width: fit-content;
      padding: 10px 20px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      margin: 20px auto;
      border: 2px solid @white;
      border-radius: 3px;
      cursor: pointer;
      transition: all ease 0.2;
      &:hover{
        background: @white;
        color: @black;
      }
    }
  }
  .photo-list{
    list-style-type: none;
    width: 50vw;
    margin: 30px auto 50px auto;
    li{
      background: rgba(0, 0, 0, 0.5);
      display: block;
      padding: 10px 20px;
      border-radius: 5px;
      margin-bottom: 10px;
      border: 1px solid @white;
      cursor: pointer;
      transition: all ease 0.2s;
      font-weight: bold;
      span{
        font-weight: normal;
        display: block;
        margin-top: 5px;
      }
      &:hover{
        background: @white;
        color: @black;
      }
    }
    &.inactive{
      display: none;
    }
  }
}